
<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>POST</h1>
              <span class="subheading">Post detail.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="post-preview">
              <a href="/post/<%= onePost._id %>">
                <h2 class="post-title">
                  <%= onePost.title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= onePost.description %>
                </h3>
              </a>
              <p class="post-meta">
                <%= onePost.dateCreated %>
                </p>
            </div>
            <a href="/posts/edit/<%= onePost._id %>" type="submit" class="btn btn-primary" id="sendMessageButton">Update</a>
          <button type="submit" class="btn btn-danger" id="sendMessageButton">Delete</button>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
